{% extends 'admin-panel.html' %}

{% block content %}
    <div class="border bg-light container">
        {% for category , message in get_flashed_messages(with_categories = true) %}
            {% if category == "success" %}
                <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif category == "danger" %}
                <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="header">
            <h4 class="header-title">تغییر کلمه عبور</h4>
        </div>
        <form action="{{ url_for('change_password') }}" method="POST">
            <div class="border bg-light content">
                <div class="bg-light d-flex flex-column p-2">
                    <div class="from-group col-md-4 col-12 m-3">
                        <label>کلمه عبور قدیمی:</label>
                        <input type="password" class="form-control" name="old_password"
                               placeholder="کلمه عبور قدیمی"
                               required>
                    </div>
                    <div class="from-group col-md-4 col-12 m-3">
                        <label>کلمه عبور جدید:</label>
                        <input type="password" class="form-control" name="new_password" placeholder="کلمه عبور جدید"
                               required>
                    </div>
                    <div class="from-group col-md-4 col-12 m-3">
                        <label>تکرار کلمه عبور :</label>
                        <input type="password" class="form-control" name="confirm_password"
                               placeholder="تکرار کلمه عبور" required>
                    </div>
                    <div class="from-group col-md-4 col-12 m-3">

                        <input type="submit" class="form-control btn btn-primary " value="ثبت">
                    </div>
                </div>
            </div>
        </form>
        <div class="footer"></div>
    </div>
{% endblock %}