<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل مدیریت</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap_rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/admin-style.css') }}">
    <link rel="icon" href="data:,">
</head>
<body>
<!-- <div class="header-mask"></div> -->
<div class="container-fluid">
    <div class="nav">
        <div class="nav-logo">
            <div class="nav__logo">
                <img lass="img" src="{{ url_for('static',filename='assets/logo/apple-logo.png') }}">
            </div>
        </div>
        <div class="nav-menu">
            {% if values['access_level'] == 1 %}
            
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='city') }}">
                    <div class="nav-group-item__link" >شهرها</div>
                </a>
            </div>
            
                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='medical') }}">
                        <div class="nav-group-item__link" >مراکز
                            درمانی</div>
                        </a>
                </div>


                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='speciality') }}">
                        <div class="nav-group-item__link" >تخصص
                            ها</div>
                        </a>
                </div>

                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='doctor') }}">
                        <div class="nav-group-item__link" >پزشکان</div>
                    </a>
                </div>

                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='user') }}">
                        <div class="nav-group-item__link" >کاربران</div>
                    </a>
                </div>
                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='report') }}">
                        <div class="nav-group-item__link">گزارشات</div>
                    </a>
                </div>
                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='reception') }}">
                        <div class="nav-group-item__link" >پذیرش</div>
                    </a>
                </div>
                <div class="nav-menu-group">
                    <a class="nav-group-item" href="{{ url_for('admin_login', input='turn') }}">
                        <div class="nav-group-item__link" >نوبت دهی</div>
                    </a>
                </div>
            {% elif values['access_level'] == 2 %}
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='doctor') }}">
                    <div class="nav-group-item__link" >پزشکان</div>
                </a>
            </div>

            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='user') }}">
                    <div class="nav-group-item__link" >کاربران</div>
                </a>
            </div>
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='report') }}">
                    <div class="nav-group-item__link">گزارشات</div>
                </a>
            </div>
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='reception') }}">
                    <div class="nav-group-item__link" >پذیرش</div>
                </a>
            </div>
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='turn') }}">
                    <div class="nav-group-item__link" >نوبت دهی</div>
                </a>
            </div>
            {% elif values['access_level'] == 3 %}
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='reception') }}">
                    <div class="nav-group-item__link" >پذیرش</div>
                </a>
            </div>
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='turn') }}">
                    <div class="nav-group-item__link" >نوبت دهی</div>
                </a>
            </div>
            {% endif %}
            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for('admin_login', input='changepassword') }}">
                    <div class="nav-group-item__link" >تغییر
                        کلمه عبور</div>
                    </a>
            </div>

            <div class="nav-menu-group">
                <a class="nav-group-item" href="{{ url_for( 'logout' ) }}">
                    <div class="nav-group-item__link">خروج</div>
                </a>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
</div>


</body>
<script src="{{ url_for('static',filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</html>