{% extends 'admin-panel.html' %}

{% block content %}
    <div class="border bg-light container">
        {% for category , message in get_flashed_messages(with_categories = true) %}
            {% if category == "success" %}
                <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif category == "danger" %}
                <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="header">
            <h4 class="header-title">مراکز درمانی</h4>
        </div>
        <div class="border bg-light content">
            <div class="operation">
                <ul class="operation-group">
                    <li class="operation-item">
                        <div class="option-logo">
                            <img class="img" src="{{ url_for('static',filename='assets/logo/plus.png') }}">
                        </div>
                        <a href="#" class="operation-item__link" data-toggle="modal"
                           data-target="#modal-add-item">افزودن</a>
                        <form action="{{ url_for('add_medical') }}" method="POST">
                            <div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog col-6" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">افزودن مرکز درمانی</h5>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group col-md-6 col-12">
                                                <label>نام:</label>
                                                <input type="text" class="form-control" name="name" required>
                                            </div>

                                            <div class="form-group col-md-6 col-12">
                                                <label>شماره:</label>
                                                <input type="text" class="form-control" name="phone" required>
                                            </div>
                                            <div class="form-group col-md-6 col-12">
                                                <label>شهر:</label>
                                                <select class="form-control" name="city" required>
                                                    <option value="0" selected  hidden>شهر را انتخاب کنید ...
                                                    </option>
                                                    {% for city in values['cites'] %}
                                                        <option value="{{ city.id }}">{{ city.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group col-12">
                                                <label>آدرس:</label>
                                                <textarea class="form-control" name="address" required
                                                          rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">بستن صفحه
                                            </button>
                                            <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </li>
                </ul>
            </div>
            <div class="search">
                <input id="medical_name" class="form-control col-md-4 col-12" type="text"
                       placeholder="نام مرکز درمانی را وارد کنید">
            </div>
            <div class="result-container">

                <table id="medicals_table" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">شماره تماس</th>
                        <th scope="col">شهر</th>
                        <th scope="col">آدرس</th>
                        <th scope="col">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for medical in values['data'] %}
                        <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ medical['name'] }}</td>
                        <td>{{ medical['phone'] }}</td>
                        <td>{{ medical['city'] }}</td>
                        <td>{{ medical['address'] }}</td>
                        <td>
                            <a style="text-decoration: none;" href="#" data-toggle="modal"
                               data-target="#delete-{{ medical["id"] }}">حذف</a>

                            <span>|</span>

                            <a style="text-decoration: none;" href="#" data-toggle="modal"
                               data-target="#edit-{{ medical["id"] }}">ویرایش</a>
                            <form action="{{ url_for('delete_medical', medical_id= medical["id"]) }}" method="POST">
                                <div class="modal fade" id="delete-{{ medical["id"] }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">حذف مرکز درمانی</h5>
                                            </div>
                                            <div class="modal-body">
                                                ایا از حذف این آیتم اطمینان دارید؟
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    لغو
                                                </button>
                                                <button type="submit" class="btn btn-danger">حذف</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <form action="{{ url_for('edit_medical', medical_id= medical["id"]) }}" method="POST">
                                <div class="modal fade" id="edit-{{ medical["id"] }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog col-6" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">ویرایش مرکز درمانی</h5>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group col-md-6 col-12">
                                                    <label>نام:</label>
                                                    <input type="text" class="form-control" name="new_name"
                                                           value="{{ medical["name"] }}" required>
                                                </div>

                                                <div class="form-group col-md-6 col-12">
                                                    <label>شماره:</label>
                                                    <input type="text" class="form-control"
                                                           value="{{ medical["phone"] }}" name="new_phone" required>
                                                </div>
                                                <div class="form-group col-md-6 col-12">
                                                    <label>شهر:</label>
                                                    <select class="form-control" name="new_city" required>
                                                        {% for city in values['cites'] %}
                                                            {% if city.name == medical["city"] %}
                                                                <option value="{{ city.id }} "
                                                                        selected>{{ city.name }}</option>
                                                            {% else %}
                                                                <option value="{{ city.id }} ">{{ city.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group col-12">
                                                    <label>آدرس:</label>
                                                    <textarea class="form-control" name="new_address" required
                                                              rows="5">{{ medical["address"] }}</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">بستن صفحه
                                                </button>
                                                <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </td>


                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
        <div class="footer"></div>
    </div>
{% endblock %}