{% extends 'admin-panel.html' %}

{% block content %}

        <div class="border bg-light container">
        {% for category , message in get_flashed_messages(with_categories = true) %}
            {{ message }}
            {% endfor %}
            <div class="header">
                <h4 class="header-title">حساب های کاربری</h4>
            </div>
            <div class="border bg-light content">
                <div class="operation">
                    <ul class="operation-group">
                        <li class="operation-item">
                            <div class="option-logo">
                                <img class="img" src="{{url_for('static',filename='assets/logo/plus.png')}}">
                            </div>
                            <a href="#" class="operation-item__link" data-toggle="modal"
                                data-target="#modal-add-item">افزودن</a>
                            <form action="{{ url_for('add_user') }}" method="POST">
                                <div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog col-6" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">افزودن حساب کاربری</h5>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group col-md-6 col-12">
                                                    <label>شماره پرسنلی:</label>
                                                    <input type="text" class="form-control" name="id" required>
                                                </div>
                                                <div class="form-group col-md-6 col-12">
                                                    <label>نام:</label>
                                                    <input type="text" class="form-control" name="name" required>
                                                </div>

                                                <div class="form-group col-md-6 col-12">
                                                    <label>نام خانوادگی:</label>
                                                    <input type="text" class="form-control" name="last_name" required>
                                                </div>

                                                <div class="form-group col-md-6 col-12">
                                                    <label>شماره تماس:</label>
                                                    <input type="text" class="form-control" name="phone" required>
                                                </div>

                                                <div class="form-group col-md-6 col-12">
                                                    <label>کدملی :</label>
                                                    <input type="text" class="form-control" name="NC" required>
                                                </div>

                                                <div class="form-group col-12">
                                                    <label>عنوان کاربری :</label>
                                                    <select class="form-control" name="position" required>
                                                        <option value="0" selected disabled hidden>عنوان کاربری را انتخاب کنید ...</option>
                                                        <option value="1">مدیر مرکز درمانی</option>
                                                        <option value="2">کارمند مرکز درمانی</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="form-group col-12">
                                                    <label>مرکز درمانی :</label>
                                                    <select class="form-control" name="medical" required>
                                                        <option value="0" selected disabled hidden>مرکز درمانی را انتخاب کنید ...</option>
                                                        {% for medical in values['medicals']%}
                                                        <option value="{{ medical.id }}">{{ medical.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">بستن صفحه</button>
                                                <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </li>
                    </ul>
                </div>
                <div class="search">
                    <input class="form-control col-md-4 col-12" type="text" placeholder=" نام کارمند را وارد کنید">
                </div>
                <div class="result-container">

                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">کد پرسنلی</th>
                                <th scope="col">کد ملی</th>
                                <th scope="col">نام</th>
                                <th scope="col">نام خانوادگی</th>
                                <th scope="col">عنوان کاربری</th>
                                <th scope="col">تلفن</th>
                                <th scope="col">مرکز درمانی</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in values['data'] %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ user['id'] }}</td>
                                <td>{{ user['NC'] }}</td>
                                <td>{{ user['name'] }}</td>
                                <td>{{ user['last_name'] }}</td>
                                <td>{{ user['position'] }}</td>
                                <td>{{ user['phone'] }}</td>
                                <td>{{ user['medical'] }}</td>
                                <td>
                                    <a style="text-decoration: none;" href="#" data-toggle="modal"
                                    data-target="#modal-delete-item">حذف</a>

                                    <span>|</span>

                                    <a style="text-decoration: none;" href="#" data-toggle="modal"
                                    data-target="#modal-edit-item">ویرایش</a>


                                    <form>
                                    <div class="modal fade" id="modal-delete-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">حذف  حساب کاربری</h5>
                                            </div>
                                            <div class="modal-body">
                                              ایا از حذف این آیتم اطمینان دارید؟
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                                              <button type="submit" class="btn btn-danger">حذف</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </form>


                                    <form>
                                        <div class="modal fade" id="modal-edit-item" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog col-6" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">ویرایش  حساب کاربری</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group col-md-6 col-12">
                                                            <label>نام:</label>
                                                            <input type="text" class="form-control" required>
                                                        </div>
        
                                                        <div class="form-group col-md-6 col-12">
                                                            <label>نام خانوادگی:</label>
                                                            <input type="text" class="form-control" required>
                                                        </div>
        
                                                        <div class="form-group col-md-6 col-12">
                                                            <label>شماره تماس:</label>
                                                            <input type="text" class="form-control" required>
                                                        </div>
                                                        
                                                        <div class="form-group col-md-6 col-12">
                                                            <label>کدملی :</label>
                                                            <input type="text" class="form-control" required>
                                                        </div>
        
                                                        <div class="form-group col-12">
                                                            <label>عنوان کاربری :</label>
                                                            <select class="form-control" required>
                                                                <option value="0" selected disabled hidden>عنوان کاربری را انتخاب کنید ...</option>
                                                                <option value="1">مدیر مرکز درمانی</option>
                                                                <option value="2">کارمند مرکز درمانی</option>
                                                                <option value="3">کارمند معاونت درمان</option>
                                                                
                                                            </select>
                                                        </div>

                                                        <div class="form-group col-12">
                                                            <label>مرکز درمانی :</label>
                                                            <select class="form-control" required>
                                                                <option value="0" selected disabled hidden>مرکز درمانی را انتخاب کنید ...</option>
                                                                <option value="1">1مرکز</option>
                                                                <option value="2">2مرکز</option>
                                                                <option value="3">3مرکز</option>
                                                                <option value="4">4مرکز</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">بستن صفحه</button>
                                                        <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </td>

                                
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="footer"></div>
        </div>
{% endblock %}