{% extends 'admin-panel.html' %}

{% block content %}
    <div class="border bg-light container">
        {% for category , message in get_flashed_messages(with_categories = true) %}
            {% if category == "success" %}
                <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif category == "danger" %}
                <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="header">
            <h4 class="header-title">تخصص ها</h4>
        </div>
        <div class="content">
            <div class="operation">
                <ul class="operation-group">
                    <li class="operation-item">
                        <div class="option-logo">
                            <img class="img" src="{{ url_for('static',filename='assets/logo/plus.png') }}">
                        </div>
                        <a href="#" class="operation-item__link" data-toggle="modal"
                           data-target="#modal-add-item">افزودن</a>
                        <form action="{{ url_for('add_speciality') }}" method="POST">
                            <div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog col-6" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">افزودن تخصص</h5>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group col-md-6 col-12">
                                                <label>عنوان:</label>
                                                <input type="text" class="form-control" name='name' required>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">بستن صفحه
                                                </button>
                                                <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </li>
                </ul>
            </div>
            <div class="result-container">

                <table id="data-table" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">تخصص</th>
                        <th scope="col">عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for speciality in values['data'] %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ speciality.name }}</td>
                            <td>
                                <a style="text-decoration: none;" href="#" data-toggle="modal"
                                   data-target="#delete-{{ speciality.id }}">حذف</a>

                                <span>|</span>

                                <a style="text-decoration: none;" href="#" data-toggle="modal"
                                   data-target="#edit-{{ speciality.id }}">ویرایش</a>

                                <form action="{{ url_for('delete_speciality', speciality_id= speciality.id) }}"
                                      method="POST">
                                    <div class="modal fade" id="delete-{{ speciality.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">حذف تخصص</h5>
                                                </div>
                                                <div class="modal-body">
                                                    آیا از حذف این آیتم اطمینان دارید؟
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">لغو
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">حذف</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form action="{{ url_for('edit_speciality', speciality_id= speciality.id) }}"
                                      method="POST">
                                    <div class="modal fade" id="edit-{{ speciality.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog col-6" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">ویرایش تخصص</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group col-md-6 col-12">
                                                        <label>نام:</label>
                                                        <input type="text" class="form-control" name="new_name"
                                                               value="{{ speciality.name }}" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">بستن صفحه
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
        <div class="footer"></div>
    </div>
{% endblock %}