{% extends 'admin-panel.html' %}

{% block content %}
    <div class="border bg-light container">
        {% for category , message in get_flashed_messages(with_categories = true) %}
            {% if category == "success" %}
                <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif category == "danger" %}
                <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
        <div class="header">
            <h4 class="header-title">نوبت دهی</h4>
        </div>
        <form>
            <div class="border bg-light content">
                <div class="d-flex flex-column p-2">
                    <div class="form-group col-md-4 col-12">
                        <label>تاریخ :</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group col-md-4 col-12">
                        <label>کد ملی :</label>
                        <input type="text" class="form-control" required>
                    </div>

                    <div class="form-group col-md-4 col-12">
                        <label>موبایل:</label>
                        <input type="tel" class="form-control" required>
                    </div>

                    <div class="form-group col-md-4 col-12">
                        <select class="form-control" required>
                            <option value="0" selected disabled hidden>شهر را انتخاب کنید ...</option>
                            <option value="1">شهر1</option>
                            <option value="2">شهر2</option>
                            <option value="3">شهر3</option>
                            <option value="4">شهر4</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <select class="form-control" required>
                            <option value="0" selected disabled hidden>مرکز درمانی را انتخاب کنید ...</option>
                            <option value="1">1مرکز</option>
                            <option value="2">2مرکز</option>
                            <option value="3">3مرکز</option>
                            <option value="4">4مرکز</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <select class="form-control" required>
                            <option value="0" selected disabled hidden>تخصص را انتخاب کنید ...</option>
                            <option value="1">1تخصص</option>
                            <option value="2">2تخصص</option>
                            <option value="3">3تخصص</option>
                            <option value="4">4تخصص</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <select class="form-control" required>
                            <option value="0" selected disabled hidden>پزشک را انتخاب کنید ...</option>
                            <option value="1">1پزشک</option>
                            <option value="2">2پزشک</option>
                            <option value="3">3پزشک</option>
                            <option value="4">4پزشک</option>
                        </select>
                    </div>

                    <input type="submit" class="btn btn-success from-buttom" value="ثبت نوبت">
                </div>
            </div>
        </form>
        <div class="footer"></div>
    </div>

{% endblock %}