{% extends 'admin-panel.html' %}

{% block content %}
        <div class="border bg-light container">
        {% for category , message in get_flashed_messages(with_categories = true) %}
            {{ message }}
            {% endfor %}

            <div class="header">
                <h4 class="header-title">شهر ها</h4>
            </div>
            <div class="border bg-light content">
                <div class="operation">
                    <ul class="operation-group">
                        <li class="operation-item">
                            <div class="option-logo">
                                <img class="img" src="{{url_for('static',filename='assets/logo/plus.png')}}">
                            </div>
                            <a href="#" class="operation-item__link" data-toggle="modal"
                                data-target="#modal-add-item">افزودن</a>
                            <form action="{{ url_for('add_city') }}" method="POST">
                                <div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog col-6" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">افزودن شهر</h5>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group col-md-6 col-12">
                                                    <label>نام:</label>
                                                    <input type="text" class="form-control" name="name" required>
                                                </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">بستن صفحه</button>
                                                <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </li>
                    </ul>
                </div>
                <div class="search">
                    <input class="form-control col-md-4 col-12" type="text" placeholder="نام شهر را وارد کنید">
                </div>
                <div class="result-container">

                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام شهر</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for city in values['data'] %}
                            <tr>
                                <th scope="row">{{ city.id }}</th>
                                <td>{{ city.name }}</td>
                                <td>
                                    <a style="text-decoration: none;" href="#" data-toggle="modal"
                                    data-target="#modal-delete-item">حذف</a>

                                    <span>|</span>

                                    <a style="text-decoration: none;" href="#" data-toggle="modal"
                                    data-target="#modal-edit-item">ویرایش</a>


                                    <form>
                                    <div class="modal fade" id="modal-delete-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">حذف شهر</h5>
                                            </div>
                                            <div class="modal-body">
                                              ایا از حذف این آیتم اطمینان دارید؟
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                                              <button type="submit" class="btn btn-danger">حذف</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </form>


                                    <form>
                                        <div class="modal fade" id="modal-edit-item" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog col-6" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">ویرایش شهر</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group col-md-6 col-12">
                                                            <label>نام:</label>
                                                            <input type="text" value="رودان" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">بستن صفحه</button>
                                                        <button type="submit" class="btn btn-primary">ذخیره اطلاعات</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="footer"></div>
        </div>

{% endblock %}