<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به پنل کاربری</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap_rtl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" href="data:,">
</head>

<body>
<div class="header-mask"></div>

<div class="wrapper" id="page-container">
    {% for category , message in get_flashed_messages(with_categories = true) %}
        {% if category == "success" %}
            <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif category == "danger" %}
            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
    <div class="content">

        <div class="header">
            <div class="header__logo">
                <img lass="img" src="{{ url_for('static',filename='assets/logo/logo.png') }}">
            </div>
            <div class="header__flag">
                <img class="img" src="{{ url_for('static',filename='assets/logo/iran.png') }}">
            </div>

        </div>
        <div class="introduction">
            <p class="form__note">توجه :این سامانه صرفا به منظور نوبت گیری مراکز درمانی زیر نظر دانشگاه علوم
                پزشکی طراحی شده و درصورت
                ورود به سامانه حاضر، کلیه عملیات مربوط نوبت گیری و پیگیری و لغو نوبت امکان پذیر میباشد.</p>
            <p class="form__help">برای ورود به سامانه کافی است کد ملی ده رقمی خود را وارد کنید و سپس روی دکمه
                ورود به پنل کلیک کنید.</p>
        </div>
        <form action=" {{ url_for( 'panel' ) }}" method="POST">
            <div class="form">
                <input type="text" class="form-control form__input" name="NC" required
                       placeholder="کد ملی خود را وارد کنید...">
                <input type="submit" class="btn btn-success from-buttom" value="ورود به پنل">
            </div>
        </form>
        <div class="footer">
            <div class="admin-panel">
                <a href="{{ url_for( 'admin_login', input = 'login') }}" class="admin-panel__link">
                    ورود کارمندان
                </a>
            </div>

            <div id="ppp" class="developer">
                طراحی و دیزاین امیرمسعود ظهوری - محمد داوری - مریم حاج حسینی
            </div>
        </div>
    </div>
</div>

</body>
<script src="{{ url_for('static',filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</html>